.slicknav_menu{
	display: none;
}

@media screen and (max-width: 992px) {
	
	.banner{
		margin-top: 60px;
		width: 100%;
	}

	header{
		margin-top: -60px;
		background-color: #000;
		position: fixed;
		
	}

	#menu{
		display: none;
	}

	.slicknav_menu{
		display: inline-block;
		position: fixed;
		background: rgba(0,0,0,0);
		z-index: 1000;
		right: 0px;
		margin-top: -60px;
	}

	.slicknav_btn{
		background-color: #e74c3c;
		margin: 12px 30px 0 0;
		margin-right: 
	}

	.slicknav_nav{
		background: #34495e;
		width: 200px;
	}


	.slicknav_nav li{
		margin: 0;
		padding: 0;
		height: 3em;
		line-height: 3em;
		text-align: center;
	}

	.slicknav_nav li a{
		margin: 0;
		padding: 0;
	}

	.slicknav_nav li a:hover{
		color: #e74c3c;
		background-color: rgba(0,0,0,0);

	}


}

@media screen and (max-width: 991px){
	.blog-area{
		margin-bottom: 50px;
	}

	.footer-content{
		margin-bottom: 50px;
		text-align: center;
	}
}

@media screen and (max-width: 780px){

	form{
		width: 90%;
		margin: 0 5%;
	}

	.blog-area{
		margin-bottom: 50px;
	}

	.services-each{
		margin-top: 50px;
	}

	.portfolio-image{
		 background-size: 85% 85%;
	}
	
}

@media screen and (max-width: 420px){
	.hero a{
		display: block;
		text-align: center;
		width: 80%;
		padding: 0px;
		margin-right: 10%;
		margin-left: 10%;

	}

	.hero h1{
		margin-top: 50px;
		margin-bottom: 30px;
		padding-top: 80px;
		font-size: 50px;
	}

	form{
		width: 90%;
		margin: 0 5%;
	}

	.services-each{
		margin-top: 50px;
	}
}

@media screen and (max-width: 320px){
	.hero a{
		display: block;
		text-align: center;
		width: 80%;
		padding: 0px;
		margin-right: 10%;
		margin-left: 10%;

	}

	.hero h1{
		margin-top: 50px;
		margin-bottom: 30px;
		padding-top: 80px;
		font-size: 40px;
	}



	form{
		width: 90%;
		margin: 0 5%;
	}

	.services-each{
		margin-top: 50px;
	}

	.portfolio-image{
		 background-size: 85% 85%;
	}


}



